[class^="fa-"]:before, [class*=" fa-"]:before {
	font-family: FontAwesome!important;
    font-style: normal;
	display: inline-block;
	margin-left: 0.2em;
	margin-right: 0.2em;
	speak: none;
	text-align: center;
	width: 1em;
}
.mb0  {	margin-bottom: 0!important; }
.mb5  {	margin-bottom: 0.25em!important; }
.mb10 {	margin-bottom: 0.5em!important; }
.mb15 {	margin-bottom: 0.75em!important; }
.mb20 {	margin-bottom: 1em!important; }
.mb30 {	margin-bottom: 1.5em!important; }
.mb40 {	margin-bottom: 2em!important; }
.mt0  {	margin-top: 0!important; }
.mt5  {	margin-top: 0.25em!important; }
.mt10 {	margin-top: 0.5em!important; }
.mt15 {	margin-top: 0.75em!important; }
.mt20 {	margin-top: 1em!important; }
.mt30 {	margin-top: 1.5em!important; }
.mt40 {	margin-top: 2em!important; }
.pb0  {	padding-bottom: 0!important; }
.pb5  {	padding-bottom: 0.25em!important; }
.pb10 {	padding-bottom: 0.5em!important; }
.pb15 {	padding-bottom: 0.75em!important; }
.pb20 {	padding-bottom: 1em!important; }
.pb30 {	padding-bottom: 1.5em!important; }
.pb40 {	padding-bottom: 2em!important; }
.pt0  {	padding-top: 0!important; }
.pt5  {	padding-top: 0.25em!important; }
.pt10 {	padding-top: 0.5em!important; }
.pt15 {	padding-top: 0.75em!important; }
.pt20 {	padding-top: 1em!important; }
.pt30 {	padding-top: 1.5em!important; }
.pt40 {	padding-top: 2em!important; }
@media(min-width:768px) {
	.mb5  {	margin-bottom: 0.5em!important; }
	.mb10 {	margin-bottom: 1em!important; }
	.mb15 {	margin-bottom: 1.5em!important; }
	.mb20 {	margin-bottom: 2em!important; }
	.mb30 {	margin-bottom: 3em!important; }
	.mb40 {	margin-bottom: 4em!important; }
	.mt5  {	margin-top: 0.5em!important; }
	.mt10 {	margin-top: 1em!important; }
	.mt15 {	margin-top: 1.5em!important; }
	.mt20 {	margin-top: 2em!important; }
	.mt30 {	margin-top: 3em!important; }
	.mt40 {	margin-top: 4em!important; }
	.pb5  {	padding-bottom: 0.5em!important; }
	.pb10 {	padding-bottom: 1em!important; }
	.pb15 {	padding-bottom: 1.5em!important; }
	.pb20 {	padding-bottom: 2em!important; }
	.pb30 {	padding-bottom: 3em!important; }
	.pb40 {	padding-bottom: 4em!important; }
	.pt5  {	padding-top: 0.5em!important; }
	.pt10 {	padding-top: 1em!important; }
	.pt15 {	padding-top: 1.5em!important; }
	.pt20 {	padding-top: 2em!important; }
	.pt30 {	padding-top: 3em!important; }
	.pt40 {	padding-top: 4em!important; }
}
