/****************** GENERAL ******************/
body {
    padding-top: 133px;
}
body#page-1 {
    padding: 0;
}
@media(max-width: 767px){
    body {
        padding-top: 80px;
    }
}
body:not(#page-1) {
    background: url("../images/page-header.jpg") no-repeat center 0;
}
h1, h2, h3, .h1, .h2, .h3, .widget-title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h1, .h1 {
    font-weight: 400;
}
h3, .h3, .widget-title {
    font-size: 18px;
    margin-top: 0;
}
/****************** HEADERS ******************/
header, header * {
    transition: all 0.3s;
}
#mainHeader {
    background: none;
}
.navbar-header {
    float: none;
}
.navbar-brand,
.fixed .navbar-brand {
    display: block;
    height: auto;
    padding: 10px 0;
    width: auto;
    margin: 0;
    text-align: left;
    clear: none;
}
@media (max-width: 1199px) {
    .navbar-brand img {
        max-height: 105px;
    }
}
@media (min-width: 1200px) {
    .navbar-brand img {
        max-height: 140px;
    }
}
@media (min-width: 768px) {
    body:not(#page-1) header:not(.fixed) .navbar-brand img {
        max-height: 105px;
    }
    #mainMenu {
        margin-top: 12px;
    }
    #page-1 header:not(.fixed) .navbar-brand {
        float: none;
        margin: 100px auto 0 auto;
        text-align: center;
        clear: both;
        width: 180px;
    }
}
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 0;
}
.nav > li > a {
    padding-left: 0;
    padding-right: 0;
}
.nav > li.primary {
    padding-left: 15px;
    padding-right: 15px;
}
.nav > li.primary.btn-nav {
    padding-right: 0;
}
ul.navbar-nav > li.primary > a.firstLevel {
    text-transform: uppercase;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 12px;
}
@media (min-width: 1200px) {
    ul.navbar-nav > li.primary > a.firstLevel {
        letter-spacing: 2px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .nav > li:not(.btn-nav){
        padding-left: 8px;
        padding-right: 8px;
    }
}
#mainMenu {
    text-align: left;
    float: right;
}
body[dir="rtl"] #mainMenu {
    text-align: right;
    float: left;
}
#page-1 #mainMenu {
    text-align: center;
}
#mainMenu,
#mainMenu .navbar-nav {
    position: relative;
    z-index: 1;
}
@media (max-width: 767px) {
    #page-1 .navbar-brand {
        display: block;
        height: auto;
        padding: 10px 0;
        width: 180px;
        margin: 0;
        text-align: left;
        float: left;
        clear: none;
    }
    .navbar-brand img,
    .fixed .navbar-brand img,
    #page-1 .navbar-brand img,
    #page-1 .fixed .navbar-brand img {
        max-height: 60px;
    }
    #mainMenu {
        position: absolute;
        top: 80px;
        width: 100%;
        margin-top: 0;
        border-top: none;
    }
    #mainMenu .navbar-nav {
        display: block;
    }
    #mainMenu .navbar-nav li:last-child {
        border-bottom: none;
    }
    ul.navbar-nav > li.primary > a.firstLevel.active, ul.navbar-nav > li.primary > a.firstLevel:hover, ul.navbar-nav > li.primary > a.firstLevel:focus {
        border-bottom: none;
    }
}
ul.navbar-nav > li.primary .dropdown > a,
ul.navbar-nav > li.primary .dropdown {
    line-height: 34px;
}
ul.navbar-nav > li.primary .dropdown-menu {
    max-width: 320px;
    width: auto;
    white-space: nowrap;
}
.dropdown-menu-right {
    float: right !important;
    right: 0;
    left: auto !important;
}
ul.navbar-nav > li.primary .dropdown-menu li a {
    line-height: 12px;
    font-weight: 400;
}
#mainMenu .searchWrapper {
    margin: 0;
}
#mainMenu .searchWrapper .form-control {
    width: 160px;
}
#mainMenu .searchWrapper .form-control, #mainMenu .searchWrapper button {
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
}
.navbar-fixed-top.fixed {
    z-index: 1031;
}
/***************** BOOTSTRAP *****************/
.btn {
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 3px;
}
.btn-number {
    padding: 2px;
}
.input-number {
    padding: 2px;
    height: 34px;
    text-align: center;
}
label small {
    font-weight: 400;
}
/*************** ROYAL SLIDER ****************/
#sliderContainer {
    position: relative;
}
.fullSized.royalSlider {
    height: 900px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.royalSlider .infoBlock {
    top: 30%;
}
.royalSlider .infoBlock h1 {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}
.royalSlider .infoBlock h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: none;
}
.royalSlider .infoBlock a {
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .royalSlider .infoBlock h1 {
        font-size: 30px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .royalSlider .infoBlock {
        top: 20%;
    }
    .royalSlider .infoBlock h1 {
        font-size: 24px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 22px;
    }
}
/************** BOOKING SEARCH ***************/
.booking-search {
    padding: 0 8px;
}
.booking-search [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}
#search-home-wrapper {
    position: absolute;
    z-index: 1030;
    top: 8%;
    width: 100%;
}
@media (max-width: 991px) {
    #search-home-wrapper {
        bottom: 7%;
        top: auto;
        z-index: 900;
    }
}
#search-home {
    padding: 7px 12px;
    text-align: center;
    border-radius: 4px;
}
#search-page .container {
    padding: 30px;
}
.booking-search [class^="col-"] {
    padding: 1px!important;
    margin: 0!important;
}
.booking-search .form-group {
    padding: 0px!important;
    margin: 0!important;
    margin-bottom: 5px !important;
}
.booking-search .form-control {
    height: 45px;
    margin-bottom: 12px;
}
.booking-search .btn {
    line-height: 2.75;
}
.booking-search .btn-primary {
    font-weight: bold;
}
.ui-datepicker {
    z-index: 9999!important;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    max-height: 288px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    max-height: 300px!important;
}
/************ ISOTOPE / PORTFOLIO ************/
.isotopeContent {
    border: 0;
    padding: 20px 0 0;
}
.isotopeContent p,
.isotopeContent h3,
.isotopeContent h4 {
    text-align: center;
}
.isotopeContent h3 {
    font-size: 20px;
    margin-top: 0;
}
/******************* FOOTER ******************/
footer {
    position: relative;
    z-index: 100;
}
footer h3, footer .widget-title {
    margin-bottom: 20px;
}
footer .searchWrapper {
    margin-bottom: 10px;
}
footer .searchWrapper, footer .dropdown, footer .dropup {
    height: 44px;
    margin-right: 20px;
    margin-left: 0;
}
@media(min-width: 768px){
    footer .widget.footer-form {
        width: 66.6667%;
    }
}
/*************** MISCELLANEOUS ***************/
aside h3 {
    font-size: 16px;
}
aside h4 {
    font-size: 14px;
}
.more-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.more-content h3 {
    position: relative;
    top: 36%;
    z-index: 1;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    text-transform: none;
}
.more-link:hover .more-content h3 {
    font-size: 20px;
    top: 18%;
}
.more-content .more-descr {
    position: absolute;
    bottom: 20px;
    right: -15px;
    z-index: 1;
    line-height: 20px;
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    text-transform: none;
}
.more-content .more-descr .price span {
    font-size: 20px;
}
.more-link:hover .more-content .more-descr {
    bottom: 60px;
    right: 0;
    width: 100%;
    background: none;
    -webkit-transition: all 0.3s ease, background 0s;
            transition: all 0.3s ease, background 0s;
}
.text-overflow {
    min-height: 108px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.more-btn {
    background: url("../images/more-bg.png") repeat-x 0 bottom;
    position: absolute;
    bottom: 0;
    padding-top: 60px;
    width: 100%;
    height: 108px;
    text-align: center;
}
.articleFocus h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.boxed {
    padding: 20px;
}
/************* BOOKING RESULTS ***************/
#booking-summary .col-md-6 {
    padding: 30px;
}
#booking-summary big,
#booking-summary p.lead {
    font-size: 20px;
}
.facility-icon {
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0px 5px 0px;
    padding: 8px 5px;
    width: 27px;
    height: 35px;
    text-align: center;
}
.facility-icon a {
    display: block;
    width: 19px;
    height: 19px;
    line-height: 19px;
    float: left;
}
.facility-icon img {
    width: 16px;
    height: 16px;
    display: block;
    opacity: 0.7;
}
@media (min-width: 768px) {
    .booking-result > .sep {
        height: 245px;
    }
}
.img-container {
    border-radius: 0;
}
@media (max-width: 991px) {
    .booking-result .img-container.md {
        margin-bottom: 10px;
    }
}
.booking-result .btn-danger,
.booking-result .btn-default {
    text-transform: none;
}
.img-container,
.hb-calendar:not(.loaded) {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
}
@media (min-width: 768px){
    .activity-result .sep {
        display: table;
    }
    .checkbox-container {
        display: table-cell;
        vertical-align: middle;
    }
}
.checkbox-container {
    width: 31px;
    height: 31px;
    margin: 10px auto;
}
.checkbox-icon {
    border-radius: 50%;
    cursor: pointer;
    font-weight: normal;
    height: 31px;
    margin: 0;
    padding: 3px;
    width: 31px;
}
.activity-result .checkbox-icon:before {
    content: "";
    display: block;
    font-family: "FontAwesome";
    font-size: 22px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.booking-result .legend {
    padding: 6px 8px;
    font-weight: bold;
    display: block;
    text-align: center;
}
.activity-result .amount {
    font-size: 22px;
}
.activity-result .hb-d-start,
.activity-result .hb-d-end {
    background: #EA8A8A!important;
}
.activity-result .hb-day.hb-d-free {
    cursor: pointer;
}
.activity-result .hb-day.hb-d-free:hover,
.session-date-caption:hover {
    background: #4edb87!important;
    color: #fff;
}
.activity-result .hb-day.hb-d-free.active,
.session-date-caption.active {
    background: #FF9600!important;
    color: #fff;
}
.input-group-sm select.form-control,
.input-group-sm .input-group-addon {
    padding: 5px 6px;
}
.session-date-input {
    display: none;
}
.session-date-caption {
    padding: 5px 8px;
    background-color: #a6e0bf;
    cursor: pointer;
    font-weight: normal;
}
@media(max-width: 767px){
    .activity-data {
        display: none;
    }
    .activity-result.active .activity-data {
        display: block;
    }
}
@media(min-width: 768px){
    .activity-data {
        visibility: hidden;
    }
    .activity-result.active .activity-data {
        visibility: visible;
    }
}
.activity-result.active .activity-data {
    visibility: visible;
}
.price span {
    font-weight: 600;
    font-size: 26px;
}
.isotopeContent .price span {
    font-size: 20px;
}
#booking-breadcrumb {
    text-align: center;
}
#booking-breadcrumb .breadcrumb-item {
    padding: 20px;
}
#booking-breadcrumb span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
#booking-breadcrumb i {
    font-size: 36px;
}
/*********** LOG IN / SIGN UP FORMS **********/
a.fblogin {
    background: linear-gradient(#2953ad, #234ca2);
    color: #fff;
    font-weight: bold;
}
a.fblogin:hover {
    color: #fff;
}
#user-popup {
    max-width: 450px;
}
/**************** PAYMENT FORM ***************/
button[name="payment_type"] {
    min-width: 160px;
    padding: 20px;
}
button[name="payment_type"] .fa {
    font-size: 36px;
}
button[name="payment_type"] .fa.fa-paypal {
    color: #00447E;
}
button[name="payment_type"] .fa.fa-credit-card {
    color: #3787DC;
}
button[name="payment_type"] .fa.fa-envelope {
    color: #B9252B;
}
button[name="payment_type"] .fa.fa-building {
    color: #FF9900;
}
/*.booking-search .col-md-3{
    clear: both !important;
    float: right !important;
}
.booking-search .col-md-2{
    clear: both !important;
    float: right !important;
}
.booking-search .col-md-4{
    clear: both !important;
    float: right !important;
}
.booking-search .col-md-2{
    clear: both !important;
    float: right !important;
}
.booking-search .col-md-6{
    clear: both !important;
    float: right !important;
}
.booking-search .col-md-2{
    clear: both !important;
    float: right !important;
}*/
.right .col-md-10{
    float: right !important;
    clear: both !important;
}
.right .col-md-5{
    float: right !important;
    clear: both !important; 
}
.left .col-md-4{
    float: left !important;
    clear: both !important; 
}
.left .col-md-12{
    float: left !important;
    clear: both !important;
}
.packages h4 {
    color: #ffffff;
    float: left;
    padding-left: 10px !important;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px !important;
}
.room_ablities h4 {
    font-size: 20px;
    color: #ffffff;
    float: right;
}
.item h5{
   font-size: 20px;
   width: 80% !important; 
   margin: 0 auto;
   border-bottom: 2px solid #fff;
   padding-bottom: 10px !important;
}
.item ul{
    padding-top: 10px;
    padding-left: 35px;
    float: left;
}
.item ul li{
    list-style: circle;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    line-height: 22px;
}
.btn-vertical-slider{ margin-left:35px; cursor:pointer;}
a {  cursor:pointer;}
.carousel.vertical .carousel-inner .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

 .carousel.vertical .active {
  top: 0;
}

 .carousel.vertical .next {
  top: 100%;
}

 .carousel.vertical .prev {
  top: -100%;
}

 .carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

 .carousel.vertical .active.left {
  top: -100%;
}

 .carousel.vertical .active.right {
  top: 100%;
}

 .carousel.vertical .item {
    left: 0;
}
.glyphicon-circle-arrow-up{
    color: #ffffff !important;
}
.glyphicon-circle-arrow-down{
   color: #ffffff !important;
}
#view_details{
    float: right;
    margin-right: 20px !important;
    margin-top: 20px !important;
}
#view_detail {
    text-align: center;
    float: right;
    line-height: 20px;
    color: #ffffff;
    border: 1px solid #fff;
    width: 9%;
    margin-right: 16px;
    padding: 5px;
    margin-top: 6px;
}
.fa-shopping-cart{
}
#view_details:hover{
    background-color: #5381BA;
    border:  1px solid #5381BA;
    color: #ffffff !important;
}
.packages_name {
    color: #ffffff;
    font-size: 16px;
    float: left;
    margin: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 16px;
}
.col-md-3 h6 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 15px;
    padding-bottom: 20px;
}
.ribbon {
    width: 100%;
    float: left;
    background-color: rgba(0,0,0,0.3);
    padding: 0px 10px;
    margin-bottom: 20px;
}
.detailListItem {
    width: 80% !important;
    margin-top: 0px;
    color: #ffffff !important;
    float: left;
    margin-top: 12px;
}
.detailListItem span {
    color: #ffffff !important;
    float: left;
    padding-left: 18px;
}
.detailListItem p{
    margin: 0;
    padding-left: 10px;
    float: left;
    font-size: 12px;
}
.room-actives{
    margin-bottom: 5px;
}
.details-section h5{
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc !important;
}
.details-sections h5{
    font-size: 22px;
    font-weight: 700;
    width: 50%;
    float: left;
}
.details-section h4 {
    font-size: 16px;
    margin: 0;
    padding: 7px 0;
    font-weight: normal;
}
.details-section h3{
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.details-section p {
    text-align: justify;
    font-size: 12px;
    padding: 5px 0;
    margin: 0;
    font-weight: normal;
    line-height: 22px;
}
.price-det{
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    float: left;
}
.price-det label {
    width: 50%;
    float: right;
    color: #5381BA;
    font-size: 15px;
    font-weight: 700;
}
.lead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    width: 45%;
    float: right;
    margin-bottom: 0;
}
.popup-dets h2{
    float: left;
    padding: 0;
    margin: 0;
    line-height: 20px;
}
.listing-booking{
    width: 100%;
    margin-top: 0px;
}
.model-body .col-md-5{
}
.booking-model{
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#services {
    font-size: 11px;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
    background-color: #d6d6d6;
}
#services:hover{
    background-color: #5d97d6;
}
#activities{
    font-size: 11px;
    padding: 5px 0px 5px 0px;
    font-weight: normal;  
    background-color: #d6d6d6; 
}
#activities:hover{
    background-color: #5d97d6;
}
#customer-info{
    font-size: 11px;
    padding: 5px 0px 5px 0px;
    font-weight: normal; 
    background-color: #d6d6d6;
}
#customer-info:hover{
    background-color: #5d97d6;   
}
.booking-model li {
    float: left;
    padding: 0;
    margin: 0 2px 0px 0;
    list-style: none;
}
.booking-model li button{
    margin: 0 4px 0px 5px;
    padding: 5px 0px;
    line-height: 20px;
}
#booking_detl {
    width: 45%;
    float: right;
    padding: 5px 10px;
    margin-bottom: 30px;
}
#booking_detls{
    width: 27%;
    float: right;
    padding: 5px 10px;
    margin-bottom: 20px;  
    text-align: center;
}
#booking_detls1{
    width: 50%;
    float: left;
    padding: 5px 10px;
    margin-bottom: 30x;  
}
.save-models{
    width: 15% !important;
    float: left !important;
}
.modal-dialog{
    width: 80% !important;
}
.for-bookingtotal{
   margin-bottom: 10px !important;
   float: left;
}
.modal-body{
    margin-top: 20px;
}
.searchs{
    line-height: 28px;
}
.templates .row_clone {
    display: none;
}
.row_clone input{
    line-height: 20px;
    margin-bottom: 5px;
}
#bookings_hotels{
    text-transform: capitalize;
}
.customer-dets .row{
    margin-bottom: 10px !important;
}
.customer-dets i{
    font-size: 12px;
}
.customer-dets label{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 20px;
}
.listing-bookings button{
    padding: 10px 8px !important;
    line-height: 22px;
}
.modal-backdrop {
    z-index: 10;
}
.modal-body .form-control{
    border: 1px solid #ccc !important;
}
.modal-footer{
    border: none !important;
}
.booking-model .col-sm-4{
    padding: 0 0 10px !important;
    margin: 0;
}
.carousel-inner h5{
    color: #ffffff !important;
}
.date-lables{
    margin-top: 10px !important;
    text-transform: capitalize;
    font-size: 14px;
    text-align: right;
}
.booking-result .col-md-6{
    border: 1px solid #ffffff;
    padding-top: 10px;
}
.modal-header{
    border: none !important;
}
.modal-body .text-muted{
    background-color: #F5FFFD !important;
}
.popup-dets{
    padding-top: 10px !important;
}
.heading th{
    font-size: 12px !important;
    font-weight: normal;
    color: #4B4C4D;
  }
#tbl_posts_body{
    background-color: #E3E3E3;
  }
.table-bordered>tbody>tr>td {
    border: 1px solid #AFB2B3;
  }
.buy-heading h5{
    color: #000 !important;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
}  
