.navbar-fixed-top {
    border: none;
}
html{
    height: 100%;
}
body {
    background: #3D3D3D;
    font-family: Open Sans,sans-serif;
    height: 100%;
    min-height: 100%;
}
body.white {
    background: #fff;
    font-family: Open Sans,sans-serif;
    height: 100%;
    min-height: 100%;
    padding-top: 30px;
}
#loginWrapper {
    margin-top: 10%;
    padding: 160px 0 0;
    position: relative;
}
#login {
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 6px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,0.15);
}
#logo {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
#wrapper {
    margin: 0;
    min-height: 100%;
    background-color: #F5F5F5;
}
#page-wrapper {
    padding: 150px 10px 20px 10px;
}
.affix-top {
    margin-top: 50px;
    margin-bottom: 20px;
}
.page-header {
    background-color: #fff;
    box-shadow: 3px 0 3px rgba(0,0,0,0.25);
    border: 0 none;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1;
    white-space: nowrap;
}
@media (max-width: 767px) {
    .page-header h1 {
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    #wrapper {
        margin-left: 148px;
    }
    .page-header .container-fluid {
        padding-left: 232px;
    }
}
/*@media (min-width: 768px) {*/
    /*#wrapper {*/
        /*margin-left: 212px;*/
    /*}*/
    /*.page-header .container-fluid {*/
        /*padding-left: 232px;*/
    /*}*/
/*}*/
.huge {
    font-size: 50px;
    line-height: normal;
}
a {
    color: #2F9DF2;
}
a:hover {
    text-decoration: none;
    color: #2F9DF2;
}
a:active, a:visited, a:focus {
    outline: 0;
}
h1 {
    margin-bottom: 20px;
    font-size: 26px;
}
@media(min-width:768px) {
    h1 {
        font-size: 32px;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}
.form-control {
    border-radius: 0;
    border: 1px solid #ccc;
    background: #fff;
}
.form-control:not(.input-sm):not([multiple="multiple"]) {
    height: 40px;
}
textarea.form-control {
    height: auto!important;
}
.form-control:focus {
    border-color: #2F9DF2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #8BE0E0;
}
.btn {
    border-radius: 0;
}
.btn:not(.btn-sm) {
    padding: 8px 15px;
}

.btn .fa:before {
    margin-left: -0.2em;
}
.btn-default {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
}
.btn-default:hover {
    background-color: #2F9DF2;
    border-color: #2F9DF2;
    color: #fff;
}
.btn-primary:hover {
    background-color: #F36A59;
    border-color: #F36A59;
}
.navbar-inverse {
    background: #2F9DF2;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-header,
.navbar-header a,
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-fixed-top {
    z-index: 10;
}
.navbar-header {
    width: 100%;
}
.top-nav {
    padding: 0 15px;
}
.top-nav>li {
    display: inline-block;
    float: left;
}
.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
li.dropdown > ul {
    height: auto;
}
#info-header {
    padding: 15px;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
ul.alert-dropdown {
    width: 200px;
}
.alert-container .alert {
    display: none;
}
.alert {
    margin-bottom: 20px;
    border-radius: 0;
}
.alert-dismissable {
    position: relative;
}
.alert-dismissable .close {
    position: absolute;
    right: 18px;
    top: 14px;
}
@media(min-width:768px) {
    .side-nav {
        background-color: #3D3D3D;
        border: medium none;
        border-radius: 0;
        left: 212px;
        margin-left: -212px;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        /*width: 212px; */
        width: 180px;
    }
    .side-nav>li>a {
        width: 212px;
    }
    .side-nav li a:hover,
    .side-nav li a.active {
        outline: none;
        background-color: #F36A59 !important;
    }
    .side-nav li a:focus {
        outline: none;
    }
}

#roomtype_id_chosen{
    height: 40px !important;
}
.room{
    background-color: #F36A59 !important;
    color: #fff;
    border-bottom: 2px solid #2F9DF2;
    display: inline;
    text-align: center;
    margin-right: 10px !important;
}
.booking{
    background-color: #3e94d6;
    line-height: 30px;
    color: #fff;
    position: relative;
    font-size: 13px;
    text-align: center;
}
.booking-rows{
    width: 89px;
    padding-right: 10px;
}
.available{
    background-color: #5cb85c;
    padding: 0px 15.8px;
    line-height: 30px;
    color: #fff !important;
    text-align: center;
    display: inline-block;
    margin-bottom: -5px;
}
.refresh_search{
    padding: 10px 24px;
    margin: 0px 40px;
    line-height: 20px;
}
.getselected{
    width: 87px;
    padding:0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.fa-times-circle{
    margin-left: -15px !important;
    z-index: 99999;
    border-radius: 50%;
    padding-bottom: 1px;
    font-size: 19px;
    border: 1px solid #808080;
    color: #fff;
    background-color: #808080;
    bottom: 8px;
    top: -10px;
    right: -12px;
    position: absolute;
    height: 29px;

}
.cross{
    background-color: #d9534f;
    padding: 0px 24.8px;
    line-height: 30px;
    color: #fff !important;
    text-align: center;
    margin: 0px -14px;
    display: inline-block;
}
/*.fa-check{*/
/*color: green !important;*/
/*font-size: 14px;*/
/*padding: 8px 0px;*/
/*}*/
/*.fa-check{*/
    /*color: #ffffff !important;*/
    /*font-size: 14px;*/
    /*padding: 8px 0px;*/
/*}*/
.fa-times{
    color: #ffffff !important;
    font-size: 14px;
    padding: 8px 0px;
}
.floor{
    margin-bottom: 10px;
    background-color: #569dd3;
    color: #fff;
}
.floor h3{
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 12px 10px;
    margin: 0;
}
.booking-table {
    margin-bottom: 20px;
}
.date-lable {
    font-size: 14px;
    font-weight: normal;
    padding-top: 10px;
    margin-left: 0px;
    display: inline-flex;
    width: 90px !important;
}
.date-lable label {
    color: #666d74 !important;
    padding: 0;
    margin: 0;
    line-height: 20px;
}
#datepicker{
    border: 1px solid #666d74;
    height: 40px;
    padding-left: 10px;
}
#datepickers{
    border: 1px solid #666d74;
    height: 40px;
    padding-left: 10px;
}
.filter-bar{
    margin-bottom: 20px;
}
#search{
    padding: 8px 22px;
    margin: 0px 40px;
    margin-bottom: 11px;
}
#search:hover{
    background-color: #F36A59;
    border-color: #F36A59;
}
#children{
    widows: 134px !important;
}
.input-group{
    margin-left: 2px;
}
.side-nav>li>ul {
    padding: 0;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 5px 15px 5px 24px;
    text-decoration: none;
    color: #ccc;
}
.side-nav>li>ul>li>a:hover,
.side-nav>li>ul>li>a.active {
    color: #fff;
}
.nav-tabs {
    background: #f8f8f8;
    padding-left: 10px;
    border: 0;
}
.nav-tabs > li > a {
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 0;
    color: #555;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #fff;
}
.panel {
    background: none;
}
.panel-default {
    border: none;
    border-radius: none;
    margin-bottom: 0;
}
.panel-default > .panel-heading, .panel-default > .panel-footer {
    background: #d9ecf7;
    border: 1px solid #87cbff;
    color: #555;
}
.panel-default > .panel-heading {
    margin-top: -23px;
    margin-bottom: 15px;
}
.panel-default > .panel-footer {
    margin-top: 15px;
}
.panel-primary > .panel-heading {
    background: #2F9DF2;
    border-color: #2F9DF2;
}
.panel-primary {
    border-color: #2F9DF2;
}
.panel-body {
    background: #fff;
}
.panel-heading {
    height: 46px;
}
.well {
    margin-top: 15px;
    border-radius: 0;
}
th {
    text-align: center;
}
.huge {
    font-size: 40px;
}
.huge .fa {
    font-size: 70px;
    color: #000;
    opacity: 0.15;
    margin-top: 15px;
}
#dashboard .dashboard-entry a {
    color: #fff;
}
#dashboard .dashboard-entry .panel-primary,
#dashboard .dashboard-entry .panel-heading,
#dashboard .dashboard-entry .panel-footer {
    border: none;
}
#dashboard .dashboard-entry .panel-heading {
    background: none;
}
#dashboard .dashboard-entry .panel-footer {
    background: rgba(0, 0, 0, 0.15);
}
#dashboard .dashboard-entry .panel-primary {
    background: #ccc;
}
#dashboard .dashboard-entry:first-child .panel-primary {
    background: #2F9DF2;
}
#dashboard .dashboard-entry:nth-child(2) .panel-primary {
    background: #FCA92D;
}
#dashboard .dashboard-entry:nth-child(3) .panel-primary {
    background: #1BBA97;
}
#dashboard .dashboard-entry:nth-child(4) .panel-primary {
    background: #F36A59;
}
.table > tbody > tr > td.wrap-img{
    padding:0;
    overflow:hidden;
}
#listing_base {
    background: #fff;
}
.table > thead > tr > th,
.table-bordered > thead > tr > th {
    background: #fff;
    color: #555;
    font-weight: normal;
    text-align: center;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #F5F5F5;
}
#listing_base th.sortable:hover,
#listing_base th.asc:hover,
#listing_base th.desc:hover{
    background-image:url("../images/bg-th-on.png");
}
#listing_base th a {
    color: #555;
    display:block;
    line-height: 34px;
}
#listing_base th a i.fa{
    color: #888;
}
.checkitem {
    margin-right: 8px!important;
    margin-left: 12px!important;
    float: left;
}
.panel, .panel-heading, .panel-footer {
    border-radius: 0;
}
.panel-body {
    border: 1px solid #ddd;
}
legend {
    font-size: 16px;
    padding-bottom: 10px;
}
.red{
    color: #ff0000;
}

.help-block {
    text-align: left;
}
.table > thead > tr > th {
    vertical-align: middle;
}
.form-table {
    width: auto;
}
.form-table td {
    min-width: 50px;
}
th .text-info small {
    font-weight: normal;
}
.form-table td.form-inline .form-control {
    display: block;
    width: 100%;
}
.form-table td.input-text.numeric {
    max-width: 90px;
}
.form-table td.input-date,
.form-table td.input-datetime {
    white-space: nowrap;
    width: auto;
    min-width: 295px;
}
.form-table td.input-date input.form-control,
.form-table td.input-datetime input.form-control {
    display: inline-block;
    max-width: 110px;
}
#ui-datepicker-div {
    z-index: 999!important;
}
.form-table select.form-control {
    padding: 6px 5px;
}
.form-table td.input-date select.form-control,
.form-table td.input-datetime select.form-control {
    display: inline-block;
    max-width: 50px;
}
.form-table td.has-feedback .form-control-feedback {
    display: none;
}
.form-table td.has-feedback  .form-control {
    padding-right: initial;
}
.input-group .form-control {
    z-index: 0;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
}
.uploadify {
    margin-left: 10px;
    display: inline-block;
}
.uploadifive-button {
    cursor: pointer;
    background: #2F9DF2;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
ul.files-list{
    margin:0;
    padding:0;
    list-style-type:none;
}
ul.files-list > li{
    width:240px;
    height:264px;
    float:left;
    margin:10px 20px 0 0;
    padding:0;
    background:#fff;
    border:1px solid #ddd;
    color:#666;
    font-size:14px;
    position:relative;
}
ul.files-list.sortable > li{
    cursor:move;
}
.prev-file{
    width:238px;
    height:135px;
    text-align:center;
    background:#fff;
    font-size:14px;
}
.prev-file img{
    max-height:135px;
    max-width:240px;
}
.uploaded{
    display: none;
    width:28%;
}
.uploaded .prev-file{
    border: 1px solid #ccc;
    float: left;
    height: 180px;
    margin: 10px;
    width: 225px;
    color: #555;
}

i.fa.fa-download.download_icon {
    float: right;
    color: blue;
}
.uploaded .prev-file img{
    max-width:225px;
    max-height:120px;
    margin:0 auto 10px auto;
    display:block;
}
.actions-file{
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:16px;
}
.actions-file img{
    float:left;
    margin:0 0 0 5px;
    height:100%;
}
.infos-file{
    padding:10px;
}
.uploaded p{
    margin:10px;
}
.filesize{
    font-size:12px;
}
input.filename{
    width:156px!important;
    text-align:center!important;
    border:0!important;
    background:transparent!important;
    min-width:156px!important;
}
#wrap-library{
    position:fixed;
    top:148px;
    right:-313px;
    width:313px;
    height:405px;
    z-index:1;
    background: url("../images/drag-drop.png") no-repeat center bottom #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-radius:2px 0 0 2px;
    -moz-border-radius:2px 0 0 2px;
    -o-border-radius:2px 0 0 2px;
    -ms-border-radius:2px 0 0 2px;
    border-radius:2px 0 0 2px;
}
#library{
    height:100%;
    overflow: scroll;
}
#library .heading{
    border-bottom: 1px solid #fff;
    padding: 10px 15px;
    background: #ccc;
}
#library [class^="col-"] {
    background: #ebebeb;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 8px;
    color: #666;
    font-size: 12px;
    height: 118px;
}
#library a {
    display: block;
    height: 50px;
    overflow: hidden;
}
a.btn-slide{
    position:absolute;
    top:192px;
    left:-17px;
    display:block;
    width:16px;
    height:40px;
}
a.btn-slide.left{
    background:url("../images/slide-left.png") no-repeat;
}
a.btn-slide.right{
    background:url("../images/slide-right.png") no-repeat;
}
#overlay{
    background:url("../images/bg-overlay.png");
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:2000;
    display:none;
}
#loading{
    background:url("../images/loading.gif") no-repeat center center;
    height:100%;
    width:100%;
    position:relative;
    display:block;
}
.twitter-typeahead {
    display: block!important;
}
.tt-input {
    background-color: #fff!important;
}
.tt-menu {
    background-color: #fff;
    border: 1px solid #308CFC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
}
.tt-suggestion {
    padding: 2px 15px;
    text-align: left;
    white-space: nowrap;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #308CFC;
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}


